# Настройки базы данных
POSTGRES_USER=prac
POSTGRES_PASSWORD=your_password
POSTGRES_DB=prac

# Настройки бэкенда
DATABASE_URL=postgres://prac:your_password@postgres:5432/prac
PORT=3000
LOGGER_TYPE=tskv

# Настройки админки
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=root

# Техническая переменная для Docker
GITHUB_REPOSITORY=your_username