POSTGRES_USER=prac
POSTGRES_PASSWORD=пароль
POSTGRES_DB=prac
DATABASE_URL=postgres://prac:пароль@postgres:5432/prac
PORT=3000
LOGGER_TYPE=tskv
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=root